#cloud-config

packages:
  - python-pip
  - python-dev

# This can also be achieved with launch configuration 'personality' feature
write_files:
  - path: /root/.ssh/id_rsa
    permissions: 0600
    owner: root:root
    encoding: b64
    content: <newline-stripped base64 of private key>

runcmd:
  - pip install ansible pyrax
  - rsync -ave "ssh -oStrictHostKeyChecking=no" autoscale@<admin_host_ip>:/home/autoscale/payload/ /opt/autoscale/
  - ansible-playbook -i /opt/autoscale/playbook/hosts /opt/autoscale/playbook/site.yml --connection=local
