{
    "auth": {
        "os_username": "{{ username }}",
        "os_password": "{{ api_key }}",
        "os_region_name": "{{ region }}"
    },
    "autoscale_groups": {
        "group0": {
            "group_id": "{{ autoscale_group }}",
            "scale_up_policy": "{{ scale_up_policy }}",
            "scale_down_policy": "{{ scale_down_policy }}",
            "webhooks": {
                "scale_up": {
                    "pre": [
                    ],
                    "post": [
                    ]
                },
                "scale_down": {
                    "pre": [
                    ],
                    "post": [
                    ]
                }
            },
            "plugins":{
                "raxmon_autoscale":{
                    "check_config": {"file": "autoscale.py"},
                    "metric_name": "scale_me",
                    "check_type": "agent.plugin",
                    "load_balancers": {{ load_balancers }},
                    "num_static_servers": {{ num_static_servers }},
                    "max_samples": 10
                }
            }
        }
    }
}
